<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |f| %>
        <tr>
          <th scope="row"><%= f.email %></th>
          <td><%= f.first_name %></td>
          <td><%= f.last_name %></td>
          <td><%= link_to 'Stop following', friendship_path(f), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-warning"%> | 
            <%= link_to 'View Profile', f, class: "btn btn-sm btn-success"%>
          </td>
        </tr>        
        <% end %>
      </tbody>
    </table>
  </div>
</div>